html,
body {
    height: 100%;
    margin: 0;
}

.hero-image {
    border-color: black;
    border-style: solid;
    border-radius: 40%;
    border-width: 2px;
    height: 400px;
    width: 400px;
}

.main-img {
    /* position: fixed; */
    /* max-width: 100%;
    height: 100%; */
    background-size: 100% 100%;
    /* filter: blur(8px);
  -webkit-filter: blur(8px);
  z-index: -5; */
}

.hr-new {
    border-top: 1px dotted red;
}

div.main-img {
    height: 100%;
}

.icon-style {
    padding: 10px;
    border-radius: 10px;
}

.grad1 {
    background-image: linear-gradient(#1d1e20e7,#1d1e2098 ,#1d1e205b);
}
.grad2 {
    background-image: linear-gradient(#1d1e205b ,#1d1e2041);
}
.grad3 {
    background-image: linear-gradient(#1d1e2041 ,#F3EFE0);
}

.bg-text {
    /* Fallback color */
    background-color: rgba(255, 255, 255, 0.288);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

    /* Black w/opacity/see-through */

}
.projects.img{
    background-image: url('/images/▶\ Mockup\ -\ Untitled\ -\ Google\ Chrome\ 2023-03-11\ 01-05-01.gif');
}
/* hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  } */

.button-style{
    background-color: #22A39F;
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 10px;
font-weight:500;
}
.font-family{
    font-family: 'Teko', sans-serif;
    font-size:35px;
    text-decoration: none;
    color: aliceblue;
}
.transtion:hover{
    transform: scale(1.1);
    transition: 0.3s ease-out transform;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

}
.skills-card:hover{
    transform: scale(1.07);
    transition: 0.3s ease-out transform;
}
.nostyle-link{
    /* text-decoration: none; */
    color: #22A39F;
}